{% load static from staticfiles %}

<html>
    <head>
        {% include 'header.html' %}
    </head>

    <body>
        <section class="main">
            <div class="page-header">
                <div class="col-xs-12 col-lg-9">
                    <img src="{% static 'images/sushi.png' %}" class="bento-logo">
                    <img src="{% static 'images/bentologo.png' %}" class="bento-logo-txt" title="Bento Inspo">
                </div>

                <div class="col-xs-12 col-sm-3">
                    <div class="page-header-right">
                    {% if user.is_authenticated %}
                        <p class="top-menu name">
                          Hello {{ user.username }}
                          <span class="small">
                          (<a href="{% url 'django.contrib.auth.views.logout' %}">
                              Log out
                          </a>)</span>
                        </p>

                    {% else %}
                        <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                    {% endif %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                        role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>

                        <ul class="dropdown-menu">
                            <li><a href="{% url 'post_list' %}">Blog </a></li>
                            <li><a href="{%  url 'post_list' %}">Lunches</a></li>
                            <li role="separator" class="divider"></li>
                            {% if user.is_authenticated %}
                                <li><a href="#">My profile</a></li>
                            {% else %}
                                <li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="stripe"></div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </section>
        <section class="footer">

        </section>
    </body>
</html>